* {
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


body {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
} 

.container {
    justify-content: center;
}

.list li:not(:last-child) a:hover {
    font-size: 18px;
    text-decoration: none;
    color: #e5f509;
    background-color: #4e4e4e;
    border-radius: 3px;
    padding: 2px 3px;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
    display: inline-block;
}

.logo {
    height: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    text-align: center;

}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 100px;
    text-decoration: none;
    color: #000;
    text-decoration: none;
}

.title {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(./img/back-img.jpg);
    background-size: cover;
    height: 670px;
    padding-top: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}

.title-1 {
    text-align: center;
    padding-top: 120px;
}

h3 {
    font-size: 70px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.title-1 p {
    color: #fff;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin-top: -40px;
    margin-bottom: 25px;
}

.btn {
    height: 50px;
    width: 300px;
    background-color: orangered;
    border: 0;
    font-size: 18px;
}

.btn a {
    color: #fff;
}

.btn a:hover {
    color: yellow;
    font-size: 20px;
}

button a:hover {
    color: rgb(red, green, blue);
    font-size: 18px;
}

button:hover {
    background-color: orange;
}


/*---------*/

.special {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0 70px;
    background-color: #f1f1f1;
}

.special h2 {
    font-family: 'Poppins', sans-serif;
    color: #424242;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

}

#carousel {
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
}

#carousel img {
    display: none;
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 30;
    border-radius: 5%;
    text-align: center;
    height: 450px;
    width: 700px;
}

#carousel img::before {
    background-color: rgb(0, 0, 0);
}

#carousel img.active {
    display: block;

}

.img-carosel-2 {
    height: 450px;
    width: 700px;
}

.special-content {
    position: absolute;
    top: 0px;
    left: 130px;
    z-index: 1;
    color: #000;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif; 
}

.special-content p {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    color: #000;
}

.services {
    justify-content: center;
    display: flex;
    text-align: center;
}

.services-row {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 10px;
}

.services-a {
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 18px;
}

.services-img {
    max-width: 150px;
}

.services h3 {
    padding: 0 150px;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 100;
    color: #424242;
}

.tovars {
    background-color: #f1f1f1;
    justify-content: center;
    padding-bottom: 70px;
}

.tovars-row {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 110%);
    grid-gap: 30px;
    padding: 30px 90px;
}

.tovars-r {
    border: 0.5px solid rgba(0, 0, 255, 0.308);
    box-shadow: 0px 0px 5px 5px rgb(218, 218, 221);
    text-align: center;
    justify-content: center;
}

.tovars-img {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 18px;
    margin-left: 23%;
}

.tovars-r a {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
}

.tovars-h3 {
    padding: 0 150px;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 100;
    color: #424242;
    text-align: center;
}

.tovars-r p {
    text-align: center;
    color: #424242;
    margin: 15px 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.tovars-r h4 {
    color: #424242;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.btn-tovar {
    background-color: orangered;
    width: 30%;
    height: 7%;
    border: 0;
    margin-top: -18px;
}

.btn-tovar a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 18px;
}


.why-us {
    justify-content: center;
    padding: 60px 0;
    text-align: center;
}

.why-h5 {
    color: #424242;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.why-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 150%);
    grid-gap: 30px;
    justify-content: center;
    text-align: center;
    padding: 0 100px;
}

.why-r {
    text-align: center;
}

.why-r img {
    max-width: 22%;
}

.why-r h5 {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
}

.why-row p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #424242;
    margin: 0 30px;
}




.catalog {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px 0;
    padding-bottom: 80px;
}

.catalog-h4 {
    color: #424242;
    font-size: 40px;
    font-weight: 400;
}

.catalog-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 500px);
    grid-gap: 30px;
    padding: 0 120px;
}

.catalog-r {
    border: 0.5px solid rgba(0, 0, 255, 0.308);
    box-shadow: 0px 0px 5px 5px rgb(218, 218, 221);
}

.catalog-r img {
    max-width: 100%;
    height: 160px;
    padding-top: 7%;
    border-radius: 20%;
}

.catalog-t {
    text-decoration: underline;
    font-weight: 400;
    font-size: 16px;
}

.catalog-p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #424242;
    margin: 0 30px;
}

.catalog-btn {
    background-color: orangered;
    width: 40%;
    height: 8%;
    border: 0;
}

.catalog-btn a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.catalog-h6 {
    font-size: 30px;
    font-weight: 400;
    color: #424242;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 25px;
}

.brends {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px;
}


.shop-ab {
    background-color: #F1F1F1;
    padding: 100px 0;
    padding-bottom: 30px;
}

.shop-row {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    padding: 0 90px;
}

.shop-row img {
    height: 100%;
    width: 500px;
}

.shop-h6 {
    font-size: 32px;
    font-weight: 400;
    color: #424242;
    margin: 0;
    margin-bottom: 30px;
}

.shop-row p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #424242bb;
    font-weight: 400;
}

.shop-row span {
    font-size: 18px;
    color: #424242bb;
    font-weight: 400;
}

.delivery {
    text-align: center;
}

.delivery-p {
    display: flex;
    text-align: start;
}

.circle {
    list-style-type: disc;
    color: black;
}

button {
    background: linear-gradient(to bottom, #ff7f00, #ff4e00);
    border-radius: 5px;
}

button:hover {
    background: linear-gradient(to bottom, skyblue, blue);
    transition: 0.2s; 
}
